.about {
  .about-header {
    font-size: 6vmax;
    letter-spacing: 12px;
    position: absolute;
    text-align: center;
    top: 14vmin;
    left: 0;
    right: 0;
    margin: auto;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 48px rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
  }
  .about-details {
    padding: 24px;
    background-color: #323d52;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    .separator {
      margin: 24px;
    }
    .about-picture {
      margin: 12px auto;
      background-image: url(../../assets/images/mk.jpg);
      background-size: cover;
      width: 90px;
      height: 90px;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
    }
    .about-title {
      text-transform: uppercase;
      color: rgb(134, 230, 207);
      margin-bottom: 9px;
      font-size: 20px;
    }
    .about-interests {
      .about-interests-list {
        line-height: 1.6em;
      }
      margin-bottom: 18px;
    }
    .about-education,
    .about-experience {
      margin-bottom: 18px;
      .about-education-title,
      .about-experience-title {
        color: rgb(80, 192, 166);
        font-size: 18px;
      }
      .about-education-info,
      .about-experience-info {
        margin: 9px;
        color: rgba(255, 255, 255, 0.6);
        line-height: 1.4em;
        font-size: 16px;
        .about-experience-desc {
          color: rgba(255, 255, 255, 0.7);
          font-style: oblique;
          margin-bottom: 9px;
        }
        .tag {
          display: inline-flex;
          font-size: 14px;
          border-radius: 4px;
          margin: 2px 0px;
          border: 1px solid rgba(255, 255, 255, 0.5);
          padding: 0px 6px;
          cursor: default;
          user-select: none;
          &.time {
            color: rgba(255, 255, 255, 0.7);
            background-color: rgba(255, 255, 255, 0.1);
            text-transform: uppercase;
          }
        }
      }
    }
    .about-links {
      margin: 6px;
      .link-btn {
        display: inline-block;
        width: 42px;
        height: 48px;
        margin: 3px;
        padding: 3px 6px;
        color: white;
        background: none;
        font-size: 36px;
        border-radius: 6px;
        cursor: default;
        text-decoration: none;
        transition: 0.3s all ease;
        &.linkedin:hover {
          background-color: #0077b5;
        }
        &.angel:hover {
          background-color: #2c2c2c;
        }
        &.github:hover {
          background-color: #6e5494;
        }
        &.twitter:hover {
          background-color: #1da1f2;
        }
        &.instagram:hover {
          background-color: #c13584;
        }
        &.resume:hover {
          background-color: #00a98f;
        }
        &.email:hover {
          background-color: #0f93ff;
        }
      }
    }
  }
}
